<div class="row">
	<div class="col-12">
	<h2 class="card-title">Books</h2>
		<div class="card">
			<div class="card-body">
				<div class="col-md-12 col-lg-offset-3 ">

	<p><a href="/techbooks/admin/books/add">Add Book</a></p>
	 <div class="table-responsive">
                    <table class="table table-striped">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Book Title</th>
	      <th>Category</th>
		  	      <th>Price</th>
	      <th>Author</th>

	      <th ></th>
	      <th ></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{{#each books as |book|}}
	    <tr>
	      <td>{{book._id}}</td>
	      <td>{{book.title}}</td>
	      <td>{{book.category}}</td>
		  	      <td>{{book.price}}</td>
	      <td>{{book.author}}</td>

	      <td><a class="button" href="/techbooks/admin/books/edit/{{book._id}}">Edit</a></td>
	      <td>
	      	 <form method="post" action="/manage/books/delete/{{book._id}}">
	      	<input type="submit" value="Delete" class="button alert" />
	      	<input type="hidden" name="_csrf" value="{{_csrf}}" />
	      	<input type="hidden" name="_method" value="DELETE" />
	      </form>
	      </td>
	    </tr>
	    {{/each}}
	  </tbody>
	</table>
</div>
</div>
</div>
</div>
</div>
</div>