<link href="/css/product.css" rel="stylesheet">

	<!-- Page header -->
	<div class="page-top-section">
		<div class="overlay"></div>
		<div class="container text-right">
			<div class="page-info">
				<h2>Services</h2>
				<div class="page-links">
					<a href="#">Home</a>
					<span>Services</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Page header end-->
	<div class="services-section spad">
<div class="container">    
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Body</th>
	  <th scope="col">Author</th>
      <th scope="col">Date</th>
	  <th scope="col">Img</th>
	  <th scope="col">Edit</th>
	  <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#if posts}}
	    {{#each posts as |post|}}
				<tr>
				    <td>{{post._id}}</td>
					<td>{{post.title}}</td>
					<td>{{post.category}}</td>
					<td>{{post.body}}</td>
					<td>{{post.author}}</td>
					<td>{{post.date}}</td>
					<td>{{post.mainimagew}}</td>
					<td><a class="button" href="/posts/edit/{{post._id}}">Edit</a></td>
					<td>
					<a class="button" href="/posts/delete/{{post._id}}">Delete</a>
	      </td>
				</tr>
		
		{{/each}}
	{{/if}}
  </tbody>
</table>
</div>